name: CI/CD via Cloudflare Runnel

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

permissions:
  contents: write

jobs:
  build-and-push:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Log in to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build and push Frontend Image
        uses: docker/build-push-action@v5
        with:
          context: .
          push: true
          tags: ghcr.io/guillaumelambermont/legion-frontend:latest

  deploy:
    needs: build-and-push
    runs-on: ubuntu-latest
    environment: dev
    steps:
      - name: Deploy to VM via SSH
        uses: and-fm/cloudflared-ssh-action@v3
        with:
          host: ${{ secrets.SSH_HOST }}
          username: ${{ secrets.SSH_USER }}
          private_key_value: ${{ secrets.SSH_PRIVATE_KEY }}
          service_token_id: ${{ secrets.CF_CLIENT_ID }}
          service_token_secret: ${{ secrets.CF_CLIENT_SECRET }}
          private_key_filename: deploy_key
          script: |
            cd ~/myapp
            echo "${{ secrets.GITHUB_TOKEN }}" | docker login ghcr.io -u ${{ github.actor }} --password-stdin
            docker compose pull
            docker compose up -d
            docker image prune -f
